<h1 class="c-h1-contacts">Editing contact</h1>

<%= render "form", contact: @contact %>

<br>

<div>
  <%= link_to @contact, class: "btn btn-back" do %>
    <span class="fas fa-arrow-left"></span> Show contact
  <% end %>
  <%= link_to contacts_path, class: "btn btn-back" do %>
    <span class="fas fa-arrow-left"></span> Back to contacts
  <% end %>
</div>
